/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: Iosevka;
    font-family: Jetbrains Mono Nerd Font;
}

/** Background ***************************************/
.pow {
    background-color: #2d353b;
    margin: 12px 30px 10px 2px;
    color: #E67E80;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 44px;
    font-weight: bold;
}

.close {
    background-color: #2D353B;
    margin: 10px 10px 6px 40px;
    color: #E69875;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 48px;
    font-weight: bold;
}

.lock {
    background-color: #2D353B;
    margin: 10px 6px 6px 50px;
    color: #DBBC7F;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 48px;
    font-weight: bold;
}

.reload {
    background-color: #2D353B;
    margin: 10px 6px 6px 5px;
    color: #D699B6;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 48px;
    font-weight: bold;
}

.calfg {
    background-color: #232A2E;
}


.calbg {
    background-color: #4C3743;
}

.cal {
  background-color: #2D353B;
  color: #a7c080;
  padding: 10px;
  padding-bottom: 0px;
  padding-left: 17px;
  padding-right: 12px;
}


.btn_musicterm {
     background-color: #232A2E;
     margin: 10px 6px 6px 15px;
     color: #7FBBB3;
     font-family: Jetbrains Mono Nerd Font;
     font-size: 30px;
     font-weight: bold;
}

.btn_musicspot {
     background-color: #232A2E;
     margin: 10px 6px 6px 15px;
     color: #DBBC7F;
     font-family: Jetbrains Mono Nerd Font;
     font-size: 30px;
     font-weight: bold;
}

.btn_musicclose {
     background-color: #232A2E;
     margin: 10px 6px 6px 15px;
     color: #E67E80;
     font-family: Jetbrains Mono Nerd Font;
     font-size: 30px;
     font-weight: bold;
}
.playname {
    background-color: #7FBBB3;
    margin: 10px 6px 6px 15px;
    color: #EBDBB2;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 25px;
    font-weight: bold;
}

.greet {
    background-color: #2D353B;
    margin: 10px 10px 6px 0px;
    color: #EBDBB2;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 25px;
    font-weight: bold;
}
                        
.playing {
    background-color: #2D353B;
    margin: 10px 6px 6px 0px;
    color: #EBDBB2;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 25px;
    font-weight: bold;
}

.btn_ctl3 {
    background-color: #2D353B;
    margin: 10px 6px 6px 15px;
    color: #EBDBB2;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 48px;
    font-weight: bold;
}

.btn_ctl2 {
    background-color: #2D353B;
    margin: 10px 6px 6px 15px;
    color: #EBDBB2;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 48px;
    font-weight: bold;
}

.sep {
    min-width: 100px;
}

.sepr {
    min-width: 215px;
}

.btn_ctl1 {
     background-color: #2D353B;
     margin: 10px 6px 6px 15px;
     color: #A7C080;
     font-family: Jetbrains Mono Nerd Font;
     font-size: 48px;
     font-weight: bold;
}

.musicfore {
    background-color: #2D353B;
}

.musicback {
    background-color: #4C3743;
}

.border {
    background-color: #4C3743;
    background-size: 710px;
    min-height: 710px;
    min-width: 710px;
}

.btn_bottomclass1 {
    margin: 10px 6px 6px 15px;
    color: #E67E80;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 48px;
    font-weight: bold;
}

.btn_vim {
    margin: 10px 6px 6px 15px;
    color: #83C092;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 48px;
    font-weight: bold;
}

.btn_ranger {
    margin: 10px 6px 6px 15px;
    color: #7FBBB3;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 48px;
    font-weight: bold;

}

.btn_wttr {
    margin: 10px 6px 6px 15px;
    color: #D3C6AA;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 48px;
    font-weight: bold;
}

.back {
    background-color: #232A2E;
    background-size: 680px;
    min-height: 680px;
    min-width: 456px;
}

.bg {
	background-color: #2D353B;
	opacity: 1;
}

/** Generic window ***********************************/
.genwin {
	background-color: #232A2E;
	border-radius: 0px 10px 10px 0px;
}

/** Profile ******************************************/
.face {
	background-size: 200px;
	min-height: 200px;
	min-width: 200px;
	margin: 65px 0px 0px 0px;
	border-radius: 100%;
}

.fullname {
	color: #D46389;
	font-size : 30px;
	font-weight : bold;
}

.username {
	color: #8FBCBB;
	font-size : 22px;
	font-weight : bold;
	margin : -15px 0px 0px 0px;
}

/** System ********************************************/
.iconcpu, .iconmem, .iconbright, .iconbat {
	font-size : 32px;
	font-weight : normal;
}
.iconcpu {
	color: #BF616A;
}
.iconmem {
	color: #A3BE8C;
}
.iconbright {
	color: #EBCB8B;
}
.iconbat {
	color: #88C0D0;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough {
	all: unset;
	background-color: #3A404C;
	border-radius: 16px;
	min-height: 28px;
	min-width: 240px;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}

.cpu_bar scale trough highlight {
	background-color: #BF616A;
}
.mem_bar scale trough highlight {
	background-color: #A3BE8C;
}
.bright_bar scale trough highlight {
	background-color: #EBCB8B;
}
.bat_bar scale trough highlight {
	background-color: #88C0D0;
}

/** Clock ********************************************/
.time_hour, .time_min {
	color: #81A1C1;
	font-size : 70px;
	font-weight : bold;
}
.time_hour {
	margin : 15px 0px 0px 20px;
}
.time_min {
	margin : 0px 0px 10px 0px;
}

.time_mer {
	color: #A3BE8C;
	font-size : 40px;
	font-weight : bold;
	margin : 20px 0px 0px 0px;
}

.time_day {
	color: #EBCB8B;
	font-size : 30px;
	font-weight : normal;
	margin : 0px 0px 20px -20px;
}

/** Uptime ********************************************/
.icontimer {
	color: #A7C080;
	font-size : 90px;
	font-weight : normal;
}

.uphour {
	color: #E5E9F0;
	font-size : 42px;
	font-weight : bold;
}

.upmin {
	color: #E5E9F0;
	font-size : 32px;
	font-weight : bold;
}

/** Music ***************************************/
.nowplaying {
    font-family: Jetbrains Mono Nerd Font;
    font-size: 48px;
    color: #EBDBB2;
    font-weight: bold;
}

.songprev { 
    font-family: Jetbrains Mono Nerd Font;
    font-size: 48px;
    font-weight: bold;
}

.album_art {
	background-size: 240px;
	min-height: 240px;
	min-width: 240px;
	margin: 20px;
	border-radius: 14px;
}

.song {
	color: #8FBCBB;
	font-size : 24px;
	font-weight : bold;
	margin : 40px 0px 0px 0px;
}

.artist {
	color: #EBCB8B;
	font-size : 16px;
	font-weight : normal;
	margin : 0px 0px 15px 0px;
}

.btn_prev, .btn_play, .btn_next {
	font-family: Iosevka Nerd Font;
}
.btn_prev {
	color: #EBCB8B;
	font-size : 32px;
	font-weight : normal;
}
.btn_play {
	color: #A3BE8C;
	font-size : 48px;
	font-weight : bold;
}
.btn_next {
	color: #EBCB8B;
	font-size : 32px;
	font-weight : normal;
}

.music_bar scale trough highlight {
	all: unset;
	background-color: #A7C080;
	border-radius: 8px;
}
.music_bar scale trough {
	all: unset;
	background-color: #3A404C;
	border-radius: 8px;
	min-height: 20px;
	min-width: 310px;
	margin : 10px 0px 0px 0px;
}

/** Weather ***************************************/
.iconweather {
	font-family: Iosevka Nerd Font;
	font-size : 120px;
	font-weight : normal;
	margin : 15px 0px 0px 30px;
}

.label_temp {
	color : #A6D1DD;
	font-size : 80px;
	font-weight : bold;
	margin : -15px 30px 0px 0px;
}

.label_stat {
	color : #BF616A;
	font-size : 38px;
	font-weight : bold;
}

.label_quote {
	color : #E5E5E5;
	font-size : 18px;
	font-weight : normal;
}

/** Applications ***************************************/
.appbox {
	margin : 15px 0px 0px 25px;
}

.app_fox, .app_telegram, .app_discord, .app_terminal,
.app_files, .app_geany, .app_code, .app_gimp, .app_vbox {
    background-repeat: no-repeat;
	background-size: 64px;
	min-height: 64px;
	min-width: 64px;
	margin: 8px 8px 0px 8px;
}

.app_fox {}
.app_telegram {}
.app_discord {}
.app_terminal {}
.app_files {}
.app_geany {}
.app_code {}
.app_gimp {}
.app_vbox {}

/** Links ***************************************/
.iconweb, .iconmail {
	color: #FFFFFF;
	font-family: Iosevka Nerd Font;
	font-size : 70px;
	font-weight : normal;
}
.iconmail {
	color: #DF584E;
}

.github {
	background-color: #24292E;
	border-radius: 16px;
}
.reddit {
	background-color: #E46231;
	border-radius: 16px;
}
.twitter {
	background-color: #61AAD6;
	border-radius: 16px;
}
.youtube {
	background-color: #DF584E;
	border-radius: 16px;
}
.mail {
	background-color: #FFFFFF;
	border-radius: 16px;
}

.mailbox {
	background-color: #E5E5E5;
	border-radius: 10px;
	margin: 48px 0px 48px 0px;
}
.label_mails {
	color: #404040;
	font-size : 32px;
	font-weight : bold;
	margin: 0px 12px 0px 12px;
}

/** Power buttons ***************************************/
.btn_logout, .btn_sleep, .btn_reboot, .btn_poweroff {
    font-family: Jetbrains Mono Nerd Font;
    font-size: 48px;
	font-weight: bold;
}

.btn_logout {
	color: #BF616A;
}
.btn_sleep {
	color: #A3BE8C;
}
.btn_reboot {
    margin: 10px 6px 6px 15px;
	color: #DBBC7F;
}
.btn_poweroff {
    margin: 10px 6px 6px 5px;
	color: #E69875;
}

/** Home folders ***************************************/
.listdfh {

}

.hddbox {
	background-color: #343F44;
	border-radius: 10px;
	margin : 15px;
}
.hddicon {
	color: #7FBBB3;
	font-family: Iosevka Nerd Font;
	font-size : 70px;
	font-weight : normal;
	margin : 25px 20px 25px 40px;
}
.hdd_label {
	color: #E5E9F0;
	font-size : 48px;
	font-weight : bold;
	margin : 0px 0px 0px 15px;
}
.fs_sep {
	color: #2E3440;
	font-size : 36px;
	font-weight : bold;
}

.iconfolder1, .iconfolder2, .iconfolder3, .iconfolder4, .iconfolder5, .iconfolder6  {
	font-family: Iosevka Nerd Font;
	font-size : 32px;
	font-weight : normal;
	margin : 0px 0px 0px 75px;
}
.iconfolder1 {
	color: #A7C080;
}
.iconfolder2 {
	color: #E67E80;
}
.iconfolder3 {
	color: #DBBC7F;
}
.iconfolder4 {
	color: #7FBBB3;
}
.iconfolder5 {
	color: #D699B6;
}
.iconfolder6 {
	color: #83C092;
}

.label_folder1, .label_folder2, .label_folder3, .label_folder4, .label_folder5, .label_folder6  {
	font-size : 22px;
	font-weight : normal;
	margin : 0px 0px 0px 30px;
}
.label_folder1 {
	color: #A7C080;
}
.label_folder2 {
	color: #E67E80;
}
.label_folder3 {
	color: #DBBC7F;
}
.label_folder4 {
	color: #7FBBB3;
}
.label_folder5 {
	color: #D699B6;
}
.label_folder6 {
	color: #83C092;
}

/** EXTRA ***********************************************/
$color-white0: #D3C6AA;
$color-white1: #D3C6AA;
$color-white2: #D3C6AA;
$color-gray: #425047;
$color-black0: #2D353B;
$color-black1: #232A2E;
$color-blue: #A7C080;

* {
    all: unset;
}

.welcome-container {
    background-color: $color-black0;
    border-radius: 10px;
    padding: 40px;
}

.welcome-greeting {
    font-family: Jetbrains Mono Nerd Font;
    font-size: 24px;
    color: $color-white0;
}

.welcome-name {
    font-family: Jetbrains Mono Nerd Font;
    font-size: 18px;
    color: $color-white2;
}

.music-container {
    background-color: $color-black0;
    border-radius: 10px;
    padding: 10px;
}

.music-art-container {
    margin: 10px;
    padding: 10px;
}

.music-track highlight {
    background-color: $color-blue;
    border-radius: 24px;
}

.music-track trough {
    border-radius: 16px;
    background-color: $color-gray;
    min-height: 5px;
    min-width: 400px;
}

.music-sub-container {
    margin: 20px;
    padding: 20px;
}

.music-control-container {
    margin: 10px;
    padding: 5px;
    background-color: $color-black1;
    border-radius: 10px;
}

.music-prev-button, .music-toggle-button, .music-next-button {
    margin: 0px 10px;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 32px;
    color: $color-white0;
}

.music-info-container {
    margin: 10px;
}

.music-title {
    font-family: Jetbrains Mono Nerd Font;
    font-size: 16px;
    color: $color-blue;
}

.music-artist {
    font-family: Iosevka Nerd Font;
    font-size: 12px;
    color: $color-white2;
}

.volume-container {
    background-color: $color-black0;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.volume-scale highlight {
    background-color: $color-blue;
    border-radius: 24px;
}

.volume-scale trough {
    border-radius: 16px;
    background-color: $color-gray;
    min-height: 120px;
    min-width: 10px;
}

.volume-icon {
    font-family: Jetrains Mono Nerd Font;
    font-size: 20px;
    color: $color-white0;
}

.stats-container {
    background-color: $color-black0;
    border-radius: 10px;
}

.cpu-container, .mem-container, .temp-container, .bright-container, .bat-container {
    background-color: $color-black1;
    border-radius: 40px 0px;
    margin: 10px;
    padding: 10px;
}

.cpu-background, .mem-background, .temp-background, .bright-background, .bat-background {
    color: $color-black1;
}

.cpu-progress, .mem-progress, .temp-progress, .bright-progress, .bat-progress {
    color: $color-gray;
}

.cpu-icon, .mem-icon, .bright-icon, .bat-icon {
    margin-right: 5px;
    font-family: Jetrains Mono Nerd Font;
    font-size: 32px;
    color: $color-blue;
}

.temp-icon {
    margin-right: 5px;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 32px;
    color: $color-blue;
}

.cpu-label, .mem-label, .temp-label, .bright-label, .bat-label {
    margin-left: 5px;
    font-family: Jetbrains Mono Nerd Font;
    font-size: 16px;
    color: $color-white0;
}

/** EOF *************************************************/
